/* подключаем локальные шрифты */
@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Regular.eot");
    src: local("Roboto"), local("Roboto-Regular"),
        url("/fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/roboto/Roboto-Regular.woff") format("woff"),
        url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Bold.eot");
    src: local("Roboto"), local("Roboto-Bold"), url("/fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
        url("/fonts/roboto/Roboto-Bold.woff") format("woff"), url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-weight: normal;
    color: #ffffff;
    background-image: linear-gradient(to right top, #060606, #050504, #030303, #020201, #000000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

:root {
    --text-size-medium: 1.6rem;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 4rem 11rem 4rem 8rem;
    z-index: 10;
}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}

.header__nav a:not(:last-child) {
    margin-right: 7.1rem;
}

.header__nav a {
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
}

.header__button {
    margin-left: 55.3rem;
    background-image: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    font-size: var(--text-size-medium);
    font-weight: 400;
    line-height: 150%;
}

.button {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #ffffff;
}

.main-display__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    padding-bottom: 22.8rem;
    z-index: 10;
}

.main-display__header {
    max-width: 76rem;
    margin-bottom: 5rem;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 140%;
}

.main-display__timer {
    display: flex;
    margin-bottom: 7.6rem;
}

.timer__item {
    width: 10.2rem;
    height: 11rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timer__item:not(:last-child) {
    margin-right: 3rem;
}

.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}

.timer__text {
    font-size: var(--text-size-medium);
    line-height: 140%;
    opacity: 0.4;
}

.main-dispay__button {
    background-image: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    font-size: var(--text-size-medium);
    font-weight: 700;
    line-height: 150%;
}

.work {
    padding: 20rem 24.3rem;
}

.work__wrap {
    display: flex;
}

.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work__text {
    max-width: 63.6rem;
    padding-top: 6.9rem;
}

.work__header {
    margin-bottom: 4.5rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.work__description {
    font-size: var(--text-size-medium);
    line-height: 160%;
}

.process {
    padding-bottom: 20rem;
    position: relative;
}

.process .process__img {
    transform: rotate(45deg);
}

.process__img {
    width: 9rem;
    height: 4.5rem;
    margin-right: 2rem;
}

.process__header {
    margin-bottom: 4.9rem;
    padding-top: 1rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.process__title {
    display: flex;
}

.process__description {
    max-width: 41.1rem;
    margin-bottom: 8rem;
    font-weight: 400;
    font-size: var(--text-size-medium);
    line-height: 160%;
    opacity: 0.5;
}

.process__columns {
    display: flex;
}

.process__columns::after {
    content: "";
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translate(-50%, 0);
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.process__item {
    max-width: 30.6rem;
}

.process__work {
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
}

.process__text {
    font-size: 1.4rem;
    line-height: 160%;
    opacity: 0.5;
}

.command {
    padding-bottom: 20rem;
}

.command__title {
    margin-bottom: 11.9rem;
}

.command__header {
    margin-bottom: 0;
}

.command__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 11rem;
}

.command__img {
    width: 19rem;
    height: 19rem;
    margin-bottom: 4rem;
}

.command__img img {
    border-radius: 50%;
}

.command__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.command__name {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 140%;
}

.command__professional {
    margin-bottom: 3rem;
    font-size: var(--text-size-medium);
    line-height: 160%;
}

.command__link {
    font-size: 1.6rem;
    line-height: 150%;
    border: 0.1rem solid #ffffff;
}

.assembly {
    margin-bottom: 24.4rem;
}

.assembly__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assembly__header {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.assembly__description {
    margin-bottom: 4.52rem;
    font-size: var(--text-size-medium);
    line-height: 160%;
}

.assembly__button {
    margin-bottom: 5.08rem;
    background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
    font-weight: 700;
    font-size: var(--text-size-medium);
    line-height: 150%;
}

.assembly__social {
    display: flex;
}

.assembly__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
    border-radius: 50%;
}

.assembly__item:not(:last-child) {
    margin-right: 3rem;
}

.assembly__item img {
    width: 50%;
    height: 50%;
}
